.influencer-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .age-gender-chart,
  .interest-chart {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  