.delivery-info {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .delivery-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .delivery-details p {
    font-size: 0.9em;
    color: #555;
  }
  
  .edit {
    color: #ea5c55;
    text-decoration: none;
    font-size: 0.9em;
  }
  